.venv*/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
artifacts/*
!artifacts/README.md
runs/
data/images/*
!data/images/README.md
data/tabular/*
!data/tabular/diabetes.csv
!data/tabular/patient_records.csv
!data/tabular/README.md
*.pt
*.pth
*.h5
*.keras
*.joblib
*.pkl
kaggle.json
